/*
 * Absolute Position: anchors element to the first element (overall box)
 */

 .box-set {
    position: relative;
    height: 900px;
    background: rgb(65, 13, 13);
  }
  
  .box {
    /* Absolute Position */
    
    position: absolute;
    padding: 10px;
    background: #f8faf9;
    border: 2px solid black;
  }
  
  /* Box rules: percentages define anchors (i.e. position of each box relative to enclosing box) */
  
  .box-1 {
    width: 1200px;
    height: 850px;  
    top: 15%;
    left: 5%;
    border: none;
  }
  
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  